.exo1 {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content {
    text-align: center;
}
.firstTitle {
    font-size: 70px;
    background-color: yellow;
}
.legalMention {
    font-size: 30px;
    background-color: yellow;
    text-align: right;
}