body {
  margin: 0;
  background-color: #FAF9F9;
}

* {
  box-sizing: border-box;
}

.layout {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100vw;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  box-shadow: 1px 1px 3px rgba(125, 125, 125, 0.7);
  background-color: white;
  border-radius: 2px;
}

.listItems {
  border-top: solid 1px rgba(125, 125, 125, 0.7);
}

.listTitle {
  padding: 10px;
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #E40066;
  color: white;
}

.item {
  margin: 10px;
  padding: 5px;
  border: solid 1px rgba(31, 31, 255, 0.2);
}

.itemDone{
  background-color: #E40066;
}