.exo3 {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SM{
    border: 2px solid blue;
    padding: 10px;
}

.SM form{
    width: 200px;
    float: left;
    background-color: orange;
}

.SM Button{
    margin-top: 10px;
    background-color: palegoldenrod;
}