.exo4 {
    display: flex;
    width: 100vw;
    height: 20vh;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.counterContainer {
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
}

.nb{
    background-color: #f7f331;
    color: #080700;
    font-weight: bold;
    padding: 8px 11px;
    border-radius: 100%;
}